body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: black;
}

.navbar {
    background-color: green;
    display: flex;
    width: 100vw;
    height: 12vh;
    text-align: center;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none;
}